attr global userattr cmdIcon devStateIcon:textField-long devStateStyle icon sortby webCmd webCmdLabel:textField-long widgetOverride
attr global autoload_undefined_devices 1
attr global autosave 0
attr global commandref modular
attr global dnsServer 127.0.0.11
attr global logfile ./log/fhem-%Y-%m-%d.log
attr global modpath .
attr global motd

attr global mseclog 1
attr global nofork 0
attr global pidfilename ./log/fhem.pid
attr global statefile ./log/fhem.save
attr global updateInBackground 1
attr global verbose 5

define WEB FHEMWEB 8083 global
setuuid WEB 5d318b74-f33f-7c84-773d-b46878b9004c3abf

# Fake FileLog entry, to access the fhem log from FHEMWEB
define Logfile FileLog ./log/fhem-%Y-%m-%d.log fakelog
setuuid Logfile 5d318b74-f33f-7c84-128c-edc1bee6bc28a157

define autocreate autocreate
setuuid autocreate 5d318b74-f33f-7c84-fe66-bae1af18e06dea01
attr autocreate filelog ./log/%NAME-%Y.log

define eventTypes eventTypes ./log/eventTypes.txt
setuuid eventTypes 5d318b74-f33f-7c84-c5c5-d7948c94a7c6a2f1

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create
setuuid initialUsbCheck 5d318b74-f33f-7c84-e42f-4a64f18641b80f6b
define DockerImageInfo DockerImageInfo
setuuid DockerImageInfo 5d318b74-f33f-7c84-bb41-926d66b5142ab87b
attr DockerImageInfo alias Docker Image Info
attr DockerImageInfo devStateIcon ok:security@green Initialized:system_fhem_reboot@orange .*:message_attention@red
attr DockerImageInfo group System
attr DockerImageInfo icon docker
attr DockerImageInfo room System
define fhemServerApt AptToDate localhost
setuuid fhemServerApt 5d318b74-f33f-7c84-39c9-fd0ed80d72441eb5
attr fhemServerApt alias System Update Status
attr fhemServerApt devStateIcon system.updates.available:security@red system.is.up.to.date:security@green:repoSync .*in.progress:system_fhem_reboot@orange errors:message_attention@red
attr fhemServerApt group Update
attr fhemServerApt icon debian
attr fhemServerApt room System
define fhemInstaller Installer
setuuid fhemInstaller 5d318b76-f33f-7c84-615f-7fc08185088afd47
attr fhemInstaller alias FHEM Installer Status
attr fhemInstaller devStateIcon .*updates.available:security@red:outdated up.to.date:security@green:outdated .*outdated.*in.progress:system_fhem_reboot@orange .*in.progress:system_fhem_update@orange warning.*:message_attention@orange error.*:message_attention@red
attr fhemInstaller group Update
attr fhemInstaller icon system_fhem
attr fhemInstaller room System
define telnetPort telnet 7072 global
setuuid telnetPort 5d318b76-f33f-7c84-c847-34f264e70f2bc9ed
define CUL_0 CUL /dev/ttyACM0@9600 1034
setuuid CUL_0 5d318b79-f33f-7c84-bd65-4cca529366d903ad
attr CUL_0 hmId F11034
attr CUL_0 rfmode HomeMatic
